.PadContainer {
    display: inline-block;
    & > div {
        display: flex;
        justify-content: space-between;
    }

    &_Settings button {
        display: inline-block;
        color: white;
        cursor: pointer;
        background-color: #63e6be;
        padding: 0.5rem 0.5rem;
        display: inline-block;
        border: none;
        margin-right: 0.4rem;
        margin-top: 0.4rem;
        margin-bottom: 0.2rem;
        border-radius: 5px;
    }


    &_operationBtn button {
        color: white;
        cursor: pointer;
        background-color: #d0ebff;
        padding: 0.5rem 0.5rem;
        display: inline-block;
        border: none;
        margin-right: 0.4rem;
        margin-top: 0.4rem;
        margin-bottom: 0.2rem;
        border-radius: 5px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.PadParent {
    display: flex; 
    & li {
        list-style: none;
        width: 30px;
        height: 30px;
        border: 1px solid black;
        border-radius: 3px;
        cursor: pointer;
    }
}

.PadList {
    &_ChordName {
        display: inline-block;
        width: 4rem;
    }

    &_RemoveBtn {
        display: inline-block;
        font-size: 1.2rem;
        margin-left: 0.5rem;
        color: red;
        cursor: pointer;
    }
}








.CurOrder {
    background-color: #868e96;
}

.defaultColor {
    background-color: #fff5f5;
}

.selectColor {
    
    background-color: #eebefa;
}

.selected {
    background-color: #868e96;
}

.trans {
    transition: all .5s;
    transform: rotate(45deg) scale(1.5,1.5);
}


.redColor {
    background-color: #f44336;
}

.orangeColor{
    background-color: #fcc2d7;
}

.yellowColor{
    background-color: #ffe066;
}

.greenColor {
    background-color: #66bb6a;
}

.blueColor {
    background-color: #42a5f5;
}

.indogoColor {
    background-color: #91a7ff;
}

.purpleColor {
    background-color: #e599f7;
}